# -----------------------------
# Terraform files
# -----------------------------
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# -----------------------------
# Sensitive files
# -----------------------------
*.pem
*.key
*.env

# -----------------------------
# Jenkins
# -----------------------------
jenkins_home/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# VS Code
# -----------------------------
.vscode/
